<!DOCTYPE html>
<html>
<head>

<title>Bears, Bears & More Bears</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="main.css">

</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>Bears Oh My!</h1>
			
			
			
				<a class="btn btn-success btn-lg" href="/">Home</a>
				<a class="btn btn-warning btn-lg" href="about">About</a>
			</p>
		<table class="table table-hover">
			<thead>

				<tr>
					<th>name</th>
					<th>age</th>
					<th>gender</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < bears.length; i++) { %>
				<tr>
					<td> <%= bears[i].name %> </td>
					<td> <%= bears[i].age %> </td>
					<td> <%= bears[i].gender %> </td>
				</tr>
				<% } %>
			</tbody>
		</table>

		</div>
	</div>

<script src="https://code.jquery.com/jquery-2.2.0.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="app.js"></script>
</body>
</html>